<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenAIKey</key>
    <string>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</string>
</dict>
</plist>
